body {
    font-family: 'Work Sans', sans-serif;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.logo {
    display: flex;
    align-items: center;
}
.logo-img {
    margin-right: 15px;
}
.logo-text1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}
.logo-text2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}
.header {
    background-color: #F3C6BD;
    position: sticky;
    top: 0;
    z-index: 3;
}
.header__content {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__content-menu {
    display: flex;
    align-items: center;
}
.header_check {
    width: 30px;
    height: 2px;
    background: #000000;
}
.header_check:not(:last-of-type) {
    margin-bottom: 4px;
}
.checkbox, .header-check-wrapper {
    display: none;
}
.header__content-nav {
    display: flex;
    align-items: center;
}
.header__content-nav > div {
    margin-left: 75px;
}
.header__content-li {
    display: inline-block;
}
.header__content-li:not(:last-child) {
    margin-right: 20px;
}
.header__content-li > a {
    font-weight: 400;
    font-size: 18px;
    color: #2B292D;
    text-decoration: none;
    transition: all 300ms linear;
}
.header__content-li > a:hover {
    font-weight: 700;
    transition: all 300ms linear;
}
.button {
    border: none;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    padding: 17px 28px;
    background-color: #3040C4;
    border-radius: 2px;
    font-weight: 700;
    cursor: pointer;
    transition-duration: 700ms;
}
.button:hover {
    background-color: #FFFFFF;
    color: #3040C4;
    transition-duration: 700ms;
    animation: button 900ms;
    transition-timing-function: ease-out;
    box-shadow: 0px 28px 25px -18px #000000;
}
.build-bg {
    background-color: #F3C6BD;
    padding-top: 40px;
}
.build {
    display: flex;
}
.build__content {
    position: relative;
    z-index: 2;
}
.build__content-title {
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    color: #2B292D;
    font-weight: 700;
    position: absolute;
    right: -350px;
    top: -10px;
}
.build__content-text {
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    width: 456px;
    margin: 189px 0 58px;
}
.build__img-men {
   padding-bottom: 77px;
   z-index: 1;
}
.img-men {
    width: 770px;
}
.questions-bg {
    background-color: #F4F5F7;
}
.questions__content {
    display: flex;
    justify-content: center;
    padding: 77px 0;
}
.questions__content-text:not(:last-child) {
    margin-right: 30px;
}
.questions-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
    max-width: 555px;
}
.questions-text:not(:last-child) {
    font-weight:700;
}
.customers-position {
    position: relative;
}
.customers {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 115px;
}
.customers-hiden-left-img {
    position: absolute;
    top: 260px;
    left: 0;
}
.customers__content {
    max-width: 462px;
}
.customers__content-pretitle {
    font-size: 22px;
    font-weight: 700;
    line-height: 34px;
    color: #009B4D;
    margin-bottom: 24px;
}
.customers__content-title {
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin-bottom: 30px;
}
.customers__content-text {
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
    margin-bottom: 42px;
}
.customers__content-items {
    border-bottom: 1px solid rgba(43, 41, 45, 0.2);
    transition: all 400ms linear;
}
.customers__content-items-toggle {
    border-bottom: 3px solid #3142C6;
    transition: all 400ms linear;
}
.customers__content-items:not(:last-child) {
    margin-bottom: 20px;
}
.customers__content-items-flex {
    display: flex;
    align-items: center;
    padding-bottom: 8px;
    cursor: pointer;
}
.customers__content-item-title {
    padding-left: 15px;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    color: #2B292D;
    transition: all 400ms linear;
}
.customers__content-svg > path {
    transition: all 400ms linear;
}
.customers__content-blue-img {
    fill: #3142C6;
    transition: all 400ms linear;
}
.customers__content-item-title-toggle {
    color: #3142C6;
    transition: all 400ms linear;
}
.customers__content-item-text {
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    padding-bottom: 17px;
    display: none;
}
.customers-img {
    position: absolute;
    right: 0;
}
.labels-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 106px;
}
.label {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) grayscale(100%);
}
.labels-second {
    padding: 62px 0 32px;
}
.manage-bg {
    background-color: rgba(252,240,227,0.4);
}
.manage-flex {
    display: flex;
    justify-content: space-around;
    padding: 115px 0;
    align-items: center;
}
.manage-animation-img__container {
    perspective:800px;
    transform-style:flat;
}
.manage-animation-img {
    position: relative;
    animation: manage-img 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.manage-pretitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
    color: #F1592B;
    margin: 0 0 24px 28px;
}
.manage-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    max-width: 461px;
    margin: 0 0 30px 28px;
}
.manage-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    max-width: 461px;
    margin: 0 0 44px 28px;
}
.manage-feedback {
    width: 519px;
    background-color: #FFFFFF;
    padding: 30px 0;
    border-bottom: 4px solid #0187D1;
}
.manage-feedback-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    max-width: 459px;
    margin: 0 auto 26px;
}
.manage-feedback-text > span {
    font-weight: 700;
}
.manage-feedback-container {
    display: flex;
    align-items: center;
    max-width: 459px;
    margin: 0 auto;
}
.manage-feedback-container > img {
    margin-right: 11px;
}
.manage-feedback-user {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #2B292D;
}
.manage-feedback-user > span {
    font-weight: 700;
}
.busy {
    padding: 100px 0;
    margin: 0 auto;
}
.busy-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.busy-flex__img {
    animation-name: busy-img;
    animation-duration: 3s;
    position: relative;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.text-mini {
    font-size: 22px;
    line-height: 34px;
    font-weight: 800;
    margin-bottom: 25px;
}
.text-mini_blue {
    color: #0189D1;
}
.title-inner {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    font-weight: 700;
    max-width: 462px;
    margin-bottom: 30px;
}
.text-inner {
    font-size: 24px;
    line-height: 34px;
    max-width: 461px;
    margin-bottom: 40px;
    font-weight: 400;
}
.busy-info-flex {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}
.busy-info-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    max-width: 360px;
}
.busy-info-text > span {
    font-weight: 700;
}
.busy-info-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #3142C6;
}
.understand-bg {
    background-color: #EDF8FB;
}
.understand-pre-title {
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    font-weight: 700;
    padding: 108px 0 24px;
}
.understand-title {
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.5px;
    font-weight: 700;
    max-width: 555px;
    margin: 30px auto;
}
.understand-text {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    max-width: 555px;
    margin: 0 auto;
}
.understand__button {
    text-align: center;
    margin: 34px auto 111px;
}
.understand-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 0 auto;
    height: 300px;
    padding-bottom: 110px;
}
.understand-grid > a {
    color: black;
    text-decoration: none;
}
.understand-grid > a:hover {
    color: #FFFFFF;
    background-color: #3141C5;
    transition-duration: 700ms;
}
.understand-grid__svg {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
}
.understand-grid__rect {
    width: 100%;
    height: 300px;
    fill: none;
    stroke: white;
    stroke-width: 10;
    stroke-dasharray: 1000, 0;
    transition: all 1s linear;
    stroke-linecap: round;
}
.understand-grid__svg:hover .understand-grid__rect{
    stroke-dasharray: 80, 655;
    stroke-dashoffset: 80;
    transition: all 1s linear;
    stroke-linecap: round;
}
.understand-grid__item1 {
    background-image: url(../img/grid2/Item1.png);
}
.understand-grid__item2 {
    background-image: url(../img/grid2/Item2.png);
}
.understand-grid__item3 {
    background-image: url(../img/grid2/Item3.png);
}
.understand-grid__item4 {
    background-image: url(../img/grid2/Item4.png);
}
.understand-grid-text {
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    margin-top: 239px;
    text-align: center;
}
.understand-grid-items-setting {
    position: relative;
    background-position: center 22px;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    border-radius: 8px;
    transition-duration: 700ms;
}
.understand-grid-items-setting:hover {
    transform: scale(1.05);
    letter-spacing: 2px;
}
.carrousel {
    max-width: 1200px;
    margin: 0 auto;
}
.carrousel-container {
    position: relative;
    padding: 30px 0 113px;
}
.carrousel-text-blue {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: #3142C6;
    margin-bottom: 26px;
}
.carrousel-text {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin: 0 auto;
    color: #2B292D;
    max-width: 750px;
    margin-bottom: 34px;
}
.carrousel-text-user {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: rgba(43, 41, 45, 0.6);
}
.carrousel-text-user > span {
    font-weight: 700;
    color: #2B292D;
}
.carrousel-img-container {
    position: absolute;
    bottom: 0;
    right: 0;
}
.carrousel-img {
    filter:invert(1) ;
}
.carrousel-hr {
    color: rgba(0,0,0,0.6);
    margin: 0;
}
.slick-dots {
    bottom: 65px;
}
.slick-dots li button:before {
    font-size: 8px;
}
.slick-dots li.slick-active button:before {
    color: #3142C5;
    opacity: 1;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.slick-dots li button:before {
    color: rgba(49,66,197,0.6);
}
.about-title {
    padding-top: 106px;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    text-align: center;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin-bottom: 20px;
}
.slick-slide:focus {
    outline: none;
}
.about-icon {
    padding-top: 26px;
    transition: all 400ms linear;
}
.about-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    color: #2B292D;
    max-width: 555px;
    margin: 0 auto 28px;
}
.about-position {
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 26px 0;
}
.about-position:first-child {
    width: 408px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}
.about-button__container {
    max-width: 240px;
    margin: 0 auto 63px;
    text-align: center;
}
.about-item__container {
    width: 750px;
    margin: 0 auto;
}
.about-items > div {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.about-text-hiden {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    max-width: 410px;
    padding-bottom: 26px;
    display: none;
}
.about-items {
    box-shadow: 0px 13px 18px -8px rgba(0, 0, 0, 0.15), 0px 11px 55px 10px rgba(0, 0, 0, 0.07);
    border-radius: 8px;
    padding: 0 26px;
    border: 1px solid rgba(43, 41, 45, 0.2);
    transition: all 400ms linear;
}
.about-items:not(:last-child) {
    margin-bottom: 20px;
}
.active {
    transform: rotate(90deg);
    transition: all 400ms linear;
}
.toggleBg {
    background-color: #3141C5;
    color: #FFFFFF;
    transition: all 400ms linear;
}
.surfaces-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 42px 50px;
    margin: 0 auto;
    margin-bottom: 91px;
}
.surfaces-grid-items-setting > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition-duration: 800ms;
}
.surfaces-grid-items-setting > img:hover{
    transform: rotateX(-15deg);
    backface-visibility: visible;
    transition-duration: 800ms;
    box-shadow: 0px 17px 23px 8px rgba(0,0,0,0.78);
}
.surfaces-grid-items-setting {
    background-color:rgba(43, 41, 45, 0.2);
    perspective:400px;
    transform-style:flat;
    border-radius: 8px;
}
.surfaces-grid__item3 {
    grid-area: 1 / 3 / span 2 / span 1;
}
.surfaces-grid__item4 {
    grid-area: 2 / 1 / span 2 / span 1;
}
.surfaces-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    max-width: 588px;
    margin: 90px auto 0;
}
.surfaces-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    max-width: 554px;
    text-align: center;
    margin: 0 auto 97px;
}
.start-flex {
    display: flex;
    padding: 73px 0;
    justify-content: space-around;
    align-items: center;
}
.start-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 12px;
}
.start-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    max-width: 555px;
    margin-bottom:26px;
}
.start-text-small {
    display: inline-block;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}
.start-text-small:last-child {
    color: #3040C4;
}
.start-input {
    width: 385px;
    padding: 13px 0 15px 12px;
    margin-right: 10px;
    border: 1px rgba(43, 41, 45, 0.2);
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 20px;
}
.start-input::placeholder {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #2B292D;
}
.start-input:focus {
    outline: none;
}
.start-animation-img {
    animation-name: start-img;
    animation-duration: 3s;
    position: relative;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.footer-flex1 {
    display: flex;
    justify-content: space-between;
    padding: 134px 0 52px;
    align-items: center;
}
.footer__faundation-text {
    margin: 26px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);
    max-width: 360px;
}
.footer__faundation-img-container > a {
    text-decoration: none;
}
.footer__faundation-img-container > a:first-child {
    margin-right: 10px;
}
.footer-flex2 {
    display: flex;
}
.footer-flex2 > div:not(:last-child) {
    margin-right: 90px;
}
.footer-li-first{
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #2B292D;
    margin-bottom: 18px;
}
.footer-li > a {
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
    transition: 500ms;
}
.footer-li > a:hover {
    font-weight: 700;
    color: #2B292D;
    transition: 400ms;
}
.footer-li:not(:last-child) {
    margin-bottom: 4px;
}
.footer-hr {
    background: rgba(43,41,45,0.1);
}
.footer-end-flex {
    display: flex;
    justify-content: space-between;
    padding: 13px 0 52px;
}
.footer-end-li {
    display: inline-block;
}
.footer-end-li > a {
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}
.footer-end-li:not(:last-child) {
    margin-right: 15px;
}
.footer-end-icon > a {
    text-decoration: none;
}
.footer-end-icon > a:not(:last-child) {
    margin-right: 20px;
}
.modal {
    display: none;
    background-color: rgba(39, 24, 211, 0.414);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 6;
}
.form-modal {
    max-width: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
    background: url(../img/modal-BG/modal-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 5px;
}
.form-modal-input-holder {
    margin: 30px auto;
    position: relative;
}
.form-modal-input {
    padding: 20px 0 15px 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    font-size: 20px;
    box-sizing: border-box;
    width: 400px;
    outline: 0;
}
.form-modal-input-date {
    width: 160px;
}
.form-modal-input::placeholder {
    color: rgba(0,0,0,0.7);
    font-size: 20px;
}
.form-modal-label {
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    top: 3px;
    left: 6px;
}
.form-modal-button-container {
    text-align: center;
}
.form-modal-button {
    border-radius: 15px;
    color: #3141C5;
    background-color: white;
}
.form-modal-button:hover {
    background-color: #3141C5;
    color: white;
}
.form-modal-close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white;
    padding: 4px;
    border-radius: 6px 0;
}
.form-modal-close-text {
    font-size: 20px;
    font-weight: 700;
    color: #3142C6;
    transition: all 200ms linear;
    cursor: pointer;
}
.form-modal-close-text:hover {
    color: red;
    transition: all 200ms linear;
}
.form-modal-title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.input-validation {
    color: #FFFFFF;
    line-height: 30px;
    position: absolute;
    top: -20px;
    right: 0;
    border-radius: 8px;
    background-color: #3141C5;
}
#button-up {
    position: fixed;
    right: 30px;
    bottom: 50px;
    background-color: #F3C6BD;
    padding: 18px 20px;
    border-radius: 50%;
    display: none;
    cursor: pointer;
}
#button-up > i {
    color: #3142C5;
}
.modal-registration {
    position: fixed;
    z-index: 7;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 10px;
    background-color: #3142C5;
    max-width: 180px;
    text-align: center;
    border-radius: 10px;
    display: none;
}
.modal-registration > p{
    color: #FFFFFF;
}
.modal-registration > p:last-child {
    font-weight: 700;
    padding: 6px;
    margin: 10px auto 0;
    max-width: 40px;
    border-radius: 15px;
    background-color: #FFFFFF;
    color: #3142C5;
    cursor: pointer;
}

@keyframes button {
    0%, 100% {
        transform: translateY(0);
		transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
		transform: translateY(-8px);
    }
}
@keyframes manage-img {
    0% {
        transform: rotateY(0);
    }
    25%{
        transform: rotateY(90deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    75% {
        transform: rotateY(270deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
@keyframes busy-img {
    0%, 100% {
        transform: scale(0.7);
        filter: saturate(0.3);
    }
    25% {
        transform: scale(0.8);
        filter: saturate(0.9);
    }
    50% {
        transform: scale(0.9);
        filter: saturate(1.3);
    }
    75% {
        transform: scale(1);
        filter: saturate(1.8)
    }
}
@keyframes start-img {
    0% {
        top: 0;
    }
    25% {
        top: -25px;
    }
    50% {
        top: -50px;
    }
    75% {
        top: -25px;
    }
    100% {
        top: 0;
    }
}
@media (max-width: 1350px) {
    .img-men {
        width: 740px;
    }
    .customers-hiden-left-img {
        display: none;
    }
}
@media (max-width: 1300px) {
    .img-men {
        width: 710px;
    }
    .customers-img > img {
        max-width: 680px;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 1040px;
    }
    .build-bg {
        padding-top: 25px;
    }
    .build__content-title {
        font-size: 70px;
    }
    .build__content-text {
        width: 400px;
        margin: 160px 0 40px;
    }
    .img-men {
        max-width: 670px;
    }
    .customers-img > img {
        max-width: 630px;
    }
    .busy {
        padding: 80px 0;
    }
    .busy-info-text {
        max-width: 320px;
    }
    .understand-grid__svg:hover .understand-grid__rect{
        stroke-dasharray: 80, 617;
    }
    .carrousel {
        max-width: 1100px;
    }
    .carrousel-text {
        max-width: 650px;
    }
    .surfaces-grid {
        gap: 30px;
    }
    .manage-animation-img {
        width: 380px;
    }
}
@media (max-width: 1110px) {
    .img-men {
        width: 650px;
    }
    .customers-img > img {
        max-width: 610px;
    }
}
@media (max-width:1090px) {
    .container {
        max-width: 750px;
    }
    .checkbox, .header-check-wrapper {
        display: block;
    }
    .header-check-wrapper {
        z-index: 4;
    }
    .header__content-menu-all {
        display: none;
    }
    .header__content-menu {
        position: relative;
    }
    .checkbox {
        position: absolute;
        z-index: 5;
        display: block;
        height: 30px;
        width: 30px;
        margin: 0;
        opacity: 0;
        cursor: pointer;
    }
    .checkbox:checked ~ .header-check-wrapper > .header_check:first-of-type {
        transform: rotate(45deg) translate(4px, 4px);
    }
    .checkbox:checked ~ .header-check-wrapper > .header_check:last-of-type {
        transform: rotate(-45deg) translate(4px, -4px);
    }
    .checkbox:checked ~ .header-check-wrapper > .header_check:nth-of-type(2) {
        opacity: 0;
    }
    .header_check {
        transition: 500ms linear;
    }
    .checkbox:checked ~ .header__content-menu-all {
        background-color: #F3C6BD;
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 3;
    }
    .header__content-li:not(:last-child) {
        margin-right: 0;
    }
    .header__content-li {
        display: block;
        text-align: center;
        margin: 0 auto 30px;
    }
    .header__content-nav {
        flex-direction: column;
        margin: 10% 25%;
    }
    .header__content-nav > div {
        margin-left: 0;
    }
    .build {
        flex-direction: column;
    }
    .build__img-men {
        text-align: center;
        padding: 0;
    }
    .build__content-title {
        left: 0;
        font-size: 60px;
        line-height: 72px;
        max-width: 525px;
    }
    .build__content-text {
        font-size: 20px;
        line-height: 26px;
        max-width: 350px;
        margin: 140px 0 20px;
    }
    .button {
        padding: 18px 16px;
        font-size: 16px;
    }
    .questions__content {
        flex-direction: column;
        padding: 30px 0;
    }
    .questions__content-text {
        max-width: 432px;
        margin-left: 200px;
    }
    .questions__content-text:not(:last-child) {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .questions-text {
        font-size: 20px;
    }
    .labels-flex {
        max-width: 620px;
        padding: 30px 0 41px;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .label {
        margin-top: 37px;
        margin-right: 120px;
    }
    .label:nth-child(1) {
        margin-left: -25px;
    }
    .label:nth-child(2) {
        margin-left: -30px;
    }
    .label:nth-child(3) {
        margin-left: -20px;
    }
    .label:nth-child(3n) {
        margin-right: 0;
    }
    .customers {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 459px;
        margin-bottom: 67px;
    }
    .customers__content-pretitle {
        margin-bottom: 12px;
    }
    .customers__content-title{
        font-size: 48px;
        margin-bottom: 12px;
    }
    .customers__content-text {
        font-size: 20px;
        max-width: 392px;
        margin: 0 auto 50px;
    }
    .customers__content-items {
        margin-bottom: 50px;
    }
    .customers-hiden-left-img {
        display: block;
    }
    .customers-img {
        left: 0;
        bottom: 0;
    }
    .customers-img > img {
        max-width: 538px;
    }
    .text-mini {
        font-weight: 700;
        text-align: center;
        margin-bottom: 18px;
    }
    .title-inner {
        font-size: 48px;
        max-width: 318px;
        margin: 0 auto 19px;
    }
    .text-inner {
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        max-width: 419px;
    }
    .busy {
        padding: 73px 0 38px;
    }
    .busy-flex, .busy-info-flex {
        flex-direction: column;
    }
    .busy-info-flex__communication, .busy-info-flex__felxible {
        display: none;
    }
    .busy-info-flex__subscriptions {
        margin: 0 auto;
        text-align: center;
    }
    .busy-flex__button-inner {
        text-align: center;
        margin-bottom: 37px;
    }
    .understand-grid {
        grid-template-columns: repeat(2, 2fr);
        height: 100%;
        max-width: 588px;
        gap: 38px 64px;
        padding-bottom: 79px;
    }
    .understand-grid__svg, .understand-grid__rect {
        height: 100%;
    }
    .understand-grid__svg:hover .understand-grid__rect{
        stroke-dasharray: 80, 655;
    }
    .understand-grid-text {
        padding-bottom: 33px;
    }
    .understand__button {
        margin: 27px auto 52px;
    }
    .understand-pre-title {
        padding: 50px 0 0;
    }
    .understand-title {
        font-size: 48px;
        margin: 27px auto;
    }
    .understand-text{
        font-weight: 400;
        font-size: 22px;
        line-height: 26px;
    }
    .carrousel {
        max-width: 750px;
    }
    .carrousel-img-container {
        position: relative;
        margin: 0 auto;
        max-width: 273px;
        margin-top: 73px;
    }
    .carrousel-container {
        padding-bottom: 0;
    }
    .carrousel-text-blue {
        max-width: 550px;
        margin: 0 auto 15px;
    }
    .carrousel-text {
        font-size: 22px;
        max-width: 580px;
        margin-bottom: 5px;
    }
    .carrousel-text-user {
        max-width: 175px;
        margin: 0 auto;
    }
    .carrousel-hr {
        display: none;
    }
    .slick-dots {
        bottom: 285px;
    }
    .about-title {
        font-size: 48px;
        margin-bottom: 14px;
        padding-top: 87px;
    }
    .about-text {
        font-size: 20px;
        max-width: 390px;
        margin-bottom: 25px;
    }
    .surfaces-title {
        margin: 43px auto 29px;
        font-size: 48px;
        line-height: 56px;
        text-align: center;
    }
    .surfaces-text {
        font-size: 22px;
        max-width: 399px;
    }
    .surfaces-grid {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
        height: 920px;
        gap: 30px 50px;
        margin-bottom: 124px;
    }
    .surfaces-grid__item2 {
        order: 5;
    }
    .surfaces-grid__item3 {
        grid-area: 1 / 2 / span 2 / span 1;
        order: 1;
    }
    .surfaces-grid__item4 {
        order: 2;
    }
    .surfaces-grid__item7 {
        display: none;
    }
    .start-flex {
        flex-direction: column-reverse;
    }
    .start-title {
        font-weight: 700;
        font-size: 48px;
        text-align: center;
        letter-spacing: -0.357143px;
        max-width: 325px;
        margin: 0 auto 51px;
    }
    .start-text {
        text-align: center;
    }
    .start-button {
        width: 290px;
        height: 48px;
    }
    .start-input {
        width: 290px;
        margin-right: 18px;
        padding: 14px 0 14px 10px;
    }
    .start-input::placeholder {
        text-align: center;
    }
    .start-text-small__container {
        margin: 0 auto;
        max-width: 431px;
    }
    .start-text-small:last-child {
        margin-bottom: 55px;
    }
    .manage-flex {
        flex-direction: column-reverse;
    }
    .manage-pretitle {
        text-align: center;
        margin: 0 auto 26px;
    }
    .manage-title {
        font-size: 48px;
        line-height: 52px;
        text-align: center;
        margin: 0 auto 20px;
    }
    .manage-text {
        text-align: center;
        margin: 0 auto 41px;
    }
    .manage-feedback {
        margin-bottom: 76px;
    }
    .footer-flex1 {
        flex-direction: column;
        padding: 48px 0 38px 0;
    }
    .footer-logo {
        flex-direction: column;
    }
    .footer-logo-img {
        margin: 0 auto;
    }
    .footer-logo-text1, footer-logo-text2 {
        text-align: center;
    }
    .footer__logo-text-container {
        margin: 32px auto;
    }
    .footer__faundation-text {
        display: none;
    }
    .footer__faundation-img-container > a:first-child {
        margin-right: 46px;
    }
    .footer-flex2 {
        flex-direction: column;
    }
    .footer-li-first {
        margin: 32px auto;
    }
    .footer-hr {
        display: none;
    }
    .footer-end-flex {
        flex-direction: column;
        max-width: 295px;
        margin: 0 auto;
        padding: 0 0 48px 0;
    }
    .footer-end-icon {
        padding-top: 28px;
    }
    .form-modal {
        max-width: 450px;
    }
    .form-modal-title {
        font-size: 32px;
    }
    .form-modal-input-holder{
        margin: 20px auto;
    }
    .form-modal-input {
        width: 320px;
    }
    .form-modal-input-date {
        width: 160px;
    }
}
@media (max-width: 800px) {
    .container {
        max-width: 500px;
    }
    .header__logo-text2 {
        display: none;
    }
    .header__content {
        padding: 20px;
    }
    .build-bg {
        padding-top: 5px;
    }
    .build__content-title {
        font-size: 54px;
        line-height: 62px;
    }
    .img-men {
        width: 400px;
    }
    .button {
        padding: 14px 12px;
        font-size: 16px;
    }
    .questions__content-text {
        margin-left: 55px;
        max-width: 400px;
    }
    .label {
        margin-right: 60px;
    }
    .customers {
        padding-bottom: 426px;
    }
    .customers-img > img {
        width: 500px;
    }
    .busy {
        padding-top: 55px;
    }
    .busy-flex__img {
        width: 390px;
    }
    .understand-grid {
        gap: 38px 45px;
    }
    .understand-grid__svg:hover .understand-grid__rect{
        stroke-dasharray: 80, 575;
    }
    .understand-grid-text {
        margin-top: 225px;
        padding-bottom: 20px;
    }
    .carrousel-text-blue {
        font-size: 23px;
        line-height: 28px;
        max-width: 500px;
    }
    .carrousel-text {
        font-size: 20px;
        line-height: 26px;
        max-width: 500px;
    }
    .about-title {
        padding-top: 60px;
    }
    .about-item__container {
        width: 500px;
    }
    .about-position:first-child {
        max-width: 250px;
        padding-bottom: 0;
    }
    .about-position:last-child {
        padding: 10px 0 20px;
    }
    .about-button__container{
        margin-bottom: 45px;
    }
    .about-icon {
        width: 15px;
        padding-top: 46px;
    }
    .surfaces-text {
        margin-bottom: 55px;
    }
    .surfaces-grid {
        margin-bottom: 70px;
        gap: 20px 30px;
    }
    .start-form {
        text-align: center;
    }
    .start-input {
        margin-right: 0;
    }
    .start-text-small:first-child {
        margin-top: 12px;
    }
    .manage-flex {
        padding: 65px 0;
    }
}
@media (max-width: 650px) {
    .build__content-title {
        font-size: 50px;
        line-height: 55px;
    }
    .build__content-text {
        margin: 110px 0 20px;
    }
    .customers-img > img {
        width: 400px;
    }
    .customers {
        padding-bottom: 340px;
        margin-bottom: 45px;
    }
    .customers-hiden-left-img {
        top: 150px;
    }
}
@media (max-width: 550px) {
    .container {
        max-width: 430px;
    }
    .img-men {
        width: 380px;
    }
    .questions-text {
        font-size: 18px;
        line-height: 25px;
        max-width: 320px;
    }
    .questions__content-text {
        margin-left: 45px;
    }
    .label {
        margin-right:93px;
    }
    .label:nth-child(1) {
        margin-left: -23px;
    }
    .label:nth-child(1) > img {
        width: 77px;
    }
    .label:nth-child(2) {
        margin-left: -32px;
    }
    .label:nth-child(2) > img {
        width: 78px;
    }
    .label:nth-child(3) {
        margin-left: -15px;
    }
    .label:nth-child(3) > img {
        width: 35px;
    }
    .label:nth-child(4) > img {
        width: 77px;
    }
    .label:nth-child(5) > img {
        width: 49px;
    }
    .label:nth-child(6) > img {
        width: 75px;
    }
    .labels-flex {
        padding: 20px 0 30px;
    }
    .customers-hiden-left-img {
        display: none;
    }
    .text-inner, .understand-text {
        font-size: 18px;
    }
    .title-inner, .understand-title, .surfaces-title {
        font-size: 46px;
        line-height: 50px;
    }
    .manage-feedback {
        width: 430px;
    }
    .manage-feedback-text, .manage-feedback-container {
        max-width: 390px;
    }
    .busy-flex__img {
        width: 350px;
    }
    .understand-grid {
        gap: 20px 30px;
    }
    .understand-grid__svg:hover .understand-grid__rect{
        stroke-dasharray: 80, 528;
    }
    .understand-grid-text{
        font-size: 20px;
        padding-bottom: 15px;
    }
    .carrousel-text-blue, .carrousel-text {
        max-width: 430px;
    }
    .about-item__container {
        width: 430px;
    }
    .surfaces-grid {
        margin-bottom: 60px;
        gap: 15px 20px;
    }
    .start-animation-img {
        width: 250px;
    }
    .start-flex {
        padding: 50px 0;
    }
    .start-title {
        font-size: 46px;
        margin-bottom: 30px;
    }
    .form-modal-title {
        font-size: 28px;
    }
    .form-modal-input {
        width: 250px;
        font-size: 18px;
    }
    .form-modal-input-date {
        width: 150px;
    }
    .form-modal-input-holder{
        margin: 15px auto;
    }
    .form-modal-input {
        padding: 16px 0 8px 10px;
    }
    .form-modal-input::placeholder {
        font-size: 18px;
    }
}
@media (max-width: 480px) {
    .container {
        max-width: 320px;
    }
    .header {
        background-color: #FFFFFF;
    }
    .header__logo-img {
        margin-right: 13px;
    }
    .header__content {
        padding: 10px 0;
    }
    .build-bg {
        padding-top: 0;
    }
    .build__content-title {
        line-height: 50px;
        top: 35px;
        max-width: 290px;
        right: 0;
        margin: 0 auto;
    }
    .build__content-text {
        font-size: 24px;
        line-height: 34px;
        margin: 264px auto 30px;
        max-width: 290px;
    }
    .build__buttons {
        display: flex;
        flex-direction: column;
    }
    .build__buttons > button:not(:last-child) {
        margin-bottom: 15px;
    }
    .button {
        padding: 18px 28px;
        font-size: 18px;
    }
    .img-men{
        width: 310px;
    }
    .build__img-men {
        margin: 33px auto 36px;
    }
    .questions__content-text {
        margin-left: 20px;
    }
    .questions-text {
        font-size: 22px;
        line-height: 32px;
    }
    .label {
        margin-right: 43px;
    }
    .customers {
        max-width: 290px;
        text-align: left;
        padding-bottom: 246px;
    }
    .customers__content-title {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 16px;
    }
    .customers__content-text {
        font-size: 24px;
        margin-bottom: 33px;
    }
    .customers__content-item-title {
        font-size: 16px;
        padding-left: 9px;
    }
    .customers__content-item-text {
        font-size: 16px;
        text-align: left;
        padding-bottom: 0;
    }
    .customers-img {
        text-align: center;
    }
    .customers-img > img {
        width: 290px;
    }
    .manage-feedback {
        width: 320px;
    }
    .manage-feedback-text, .manage-feedback-container {
        max-width: 290px;
    }
    .busy {
        padding: 53px 0;
    }
    .text-mini {
        text-align: left;
    }
    .title-inner {
        font-size: 40px;
        line-height: 40px;
        text-align: left;
    }
    .text-inner {
        font-size: 24px;
        line-height: 34px;
        text-align: left;
        margin-bottom: 30px;
    }
    .busy-flex__button-inner {
        text-align: left;
        margin-bottom: 40px;
    }
    .busy-flex__img {
        width: 290px;
        text-align: left;
    }
    .busy-info-flex__felxible, .busy-info-flex__communication{
        display: block;
    }
    .busy-info-flex__felxible{
        margin-bottom: 33px;
    }
    .busy-info-flex__subscriptions {
        text-align: left;
        margin-bottom: 33px;
    }
    .busy-info-text {
        padding-bottom: 10px;
    }
    .understand-title {
        font-size: 40px;
        line-height: 40px;
        margin: 18px auto;
    }
    .understand-text {
        font-size: 24px;
        line-height: 34px;
        max-width: 290px;
    }
    .understand__button {
        display: flex;
        flex-direction: column;
    }
    .understand__button > button:not(:last-child) {
        margin-bottom: 12px;
    }
    .understand-grid {
        grid-template-columns: repeat(1, 4fr);
        gap: 15px 0;
        padding-bottom: 50px;
        max-width: 290px;
    }
    .understand-grid__svg:hover .understand-grid__rect {
        stroke-dasharray: 80, 695;
    }
    .understand-grid-text {
        font-size: 22px;
        padding-bottom: 33px;
        margin-top: 239px;
    }
    .carrousel-text-blue, .carrousel-text {
        max-width: 320px;
        font-size: 24px;
        line-height: 34px;
        text-align: left;
        margin-bottom: 30px;
    }
    .carrousel-text-user {
        max-width: 320px;
        text-align: left;
    }
    .carrousel-img-container {
        margin-top: 85px;
    }
    .slick-dots {
        bottom: 275px;
    }
    .slick-dots li button:before {
        font-size: 12px;
    }
    .about-item__container {
        width: 290px;
    }
    .about-title {
        font-size: 40px;
        line-height: 40px;
    }
    .about-text {
        font-size: 24px;
        line-height: 34px;
    }
    .about-position, .about-text-hiden {
        font-size: 16px;
        line-height: 22px;
    }
    .about-position:first-child {
        max-width: 200px;
        padding-top: 20px;
    }
    .about-position:last-child {
        padding-bottom: 20px;
    }
    .about-items {
        padding: 0 20px;
    }
    .about-icon {
        width: 25px;
        padding-top: 56px;
    }
    .about-icon-center {
        padding-top: 42px;
    }
    .surfaces-title {
        margin: 50px auto 32px;
        font-size: 42px;
        line-height: 47px;
    }
    .surfaces-text {
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 25px;
    }
    .surfaces-grid {
        grid-template-rows: repeat(7, 1fr);
        grid-template-columns: repeat(1, 1fr);
        height: 100%;
        gap: 25px 0;
        margin-bottom: 55px;
    }
    .surfaces-grid__item2 {
        display: none;
    }
    .surfaces-grid__item3 {
        grid-area: 4 / 1 / span 2 / span 1;
    }
    .start-text-small__container, .start-text {
        max-width: 290px;
        margin: 0 auto;
    }
    .start-text {
        margin-bottom: 20px;
    }
    .manage-pretitle {
        text-align: left;
        margin-bottom: 17px;
        max-width: 290px;
    }
    .manage-title {
        font-size: 40px;
        line-height: 40px;
        text-align: left;
        max-width: 290px;
    }
    .manage-text {
        max-width: 290px;
        text-align: left;
        margin-bottom: 60px;
    }
    .manage-animation-img {
        width: 320px;
    }
    .footer__faundation-img-container > a:first-child {
        margin-right: 10px;
    }
}
@media (max-width: 360px) {
    .container {
        max-width: 290px;
    }
    .header__logo-img {
        margin-right: 9px;
    }
    .img-men{
        width: 280px;
    }
    .label {
        margin-right: 35px;
    }
    .busy-flex__img {
        width: 260px;
    }
    .busy-info-text {
        max-width: 250px;
    }
    .carrousel-text-blue, .carrousel-text, .carrousel-text-user {
        max-width: 290px;
    }
    .start-flex {
        flex-direction: column;
        padding: 65px 0;
    }
    .start-title {
        margin: 15px auto 18px;
    }
    .start-text {
        margin-bottom: 40px;
    }
    .start-text-small:last-child {
        margin-bottom: 0;
    }
    .manage-flex {
        padding: 50px 0;
        flex-direction: column;
    }
    .manage-animation-img {
        width: 290px;
    }
    .manage-animation-img {
        margin-bottom: 32px;
    }
    .manage-feedback {
        margin-bottom: 0;
    }
    .footer-end-flex {
        max-width: 290px;
        padding: 0 0 23px 0;
    }
}
@media (max-width: 320px) {
    .button {
        padding: 12px 20px;
        font-size: 16px;
    }
    .build__content-title {
        font-size: 46px;
    }
    .build__content-text, .text-inner, .understand-text, .surfaces-text {
        font-size: 20px;
    }
    .questions-text {
        font-size: 18px;
    }
    .busy-flex__img {
        width: 220px;
    }
}